:root{
	--mainColor:#12148b;
	--secondaryColor:#2e31d6;

	--borderColor:#040d31;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(16, 21, 92, 0.76);
	--previewShadow:#12148b;


	--buttonColor:#5356ff;


}
